<table class="table table-striped message-list" data-message-filter-target="messageList">
  <thead>
    <tr>
      <th class="message-datetime">日時</th>
      <% if show_channel %>
        <th class="message-channel">チャンネル</th>
      <% end %>
      <th>メッセージ</th>
    </tr>
  </thead>
  <tbody>
    <% privmsg_keyword_relationships ||= [] %>
    <% privmsg_id_keyword_map = privmsg_keyword_relationships.map { |r| [r.privmsg_id, r.keyword] }.to_h %>
    <% period ||= false %>
    <%= render(partial: 'shared/message_with_datetime', collection: messages, as: :m, locals: { privmsg_keyword_relationships: privmsg_keyword_relationships, privmsg_id_keyword_map: privmsg_id_keyword_map, show_channel: show_channel, period: period}) %>
  </tbody>
</table>
