<table class="table table-striped message-list">
  <thead>
    <tr>
      <% if style == :edit %>
        <th class="message-archive">表示設定</th>
      <% end %>
      <th class="message-time">時刻</th>
      <% if show_channel %>
        <th class="message-channel">チャンネル</th>
      <% end %>
      <th>メッセージ</th>
    </tr>
  </thead>
  <tbody>
    <%= render(partial: 'shared/message', collection: messages, as: :m, locals: { show_channel: show_channel, style: style }) %>
  </tbody>
</table>
