<table class="table table-striped message-list">
  <thead>
    <tr>
      <th class="message-time">時刻</th>
      <th class="message-channel">チャンネル</th>
      <th>メッセージ</th>
    </tr>
  </thead>
  <tbody>
    <%= render(partial: 'shared/message', collection: messages, as: :m) %>
  </tbody>
</table>
