<table class="table table-striped message-list" data-message-filter-target="messageList">
  <thead>
    <tr>
      <th class="message-time">時刻</th>
      <% if show_channel %>
        <th class="message-channel">チャンネル</th>
      <% end %>
      <th>メッセージ</th>
      <% if current_user %>
        <th class="message-detail"></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% privmsg_keyword_relationships ||= [] %>
    <% privmsg_id_keyword_map = privmsg_keyword_relationships.map { |r| [r.privmsg_id, r.keyword] }.to_h %>
    <%= render(partial: 'shared/message', collection: messages, as: :m, locals: { privmsg_keyword_relationships: privmsg_keyword_relationships, privmsg_id_keyword_map: privmsg_id_keyword_map, show_channel: show_channel, style: style }) %>
  </tbody>
</table>
