<tr class="message-filter">
  <th scope="row">表示</th>
  <td>
    <form>
      <label class="checkbox-inline">
        <input type="checkbox" id="show-speeches" name="show-speeches" checked />
        発言
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" id="show-nick" name="show-nick" checked />
        ニックネーム変更
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" id="show-join-part" name="show-join-part" />
        参加・退出
      </label>
    </form>
  </td>
</tr>
