<% date, messages = message_group %>

<h2><%= date.strftime('%F') %></h2>

<%= render('shared/message_list', messages: messages, privmsg_keyword_relationships: privmsg_keyword_relationships, show_channel: true, style: message_list_style(cookies)) %>
