[Unit]
Description=LogArchiver Rack Server(Unicorn) - IRC Log Save and Viewer
Documentation=https://github.com/cre-ne-jp/log-archiver
After=network.target, mysqld.service

[Service]
User=log-archiver
Group=log-archiver
EnvironmentFile=/etc/default/log-archiver
SyslogIdentifier=log-archiver-unicorn
Type=simple
PIDFile=/home/log-archiver/log-archiver/tmp/pids/unicorn.pid
WorkingDirectory=/home/log-archiver/log-archiver
Restart=always

ExecStart=/usr/bin/bundle exec "unicorn -c config/unicorn.rb -E $RAILS_ENV"
ExecReload=/usr/bin/kill -USR2 $MAINPID
ExecStop=/usr/bin/kill -QUIT $MAINPID

[Install]
WantedBy=multi-user.target
