# IRC ボットの設定
development:
  IRCBot:
    Host: irc.example.net
    Port: 6667
    Password: pa$$word
    Encoding: UTF-8
    Nick: archiver
    User: archiver
    RealName: LogArchiver
    Channels:
      - ''
  # IRC管理・運営サービス(Atheme-Services) の設定
  AuthenticationServer:
    # NickServ(Atheme-Services) の XMLRPC アドレス
    XMLRPC: 'http://irc.example.com:6667/xmlrpc'
    # ボット自身のアカウント情報
    Account:
      Nick: 'YOUR NICK'
      Pass: 'PA$$WORD'
  # プラグインの設定
  Plugins:
    LoginNickserv:
      # NickServ の、IRCネットワーク内でのユーザー情報
      NickServ:
        Nick: 'NickServ'
        User: 'NickServ'
        Host: 'services.cre.jp'
      # NickServ がリレーしているサーバアドレス
      LoginServer: 'services.cre.jp'
    UserInterface:
      # ログ公開URLのホスト名
      # 末尾の / は要りません
      URL: 'https://test.log.cre.ne.jp'
    Part:
      # 退出時のメッセージ
      # （IRCプロトコルにおける）PART コマンドの引数として使われます。
      PartMessage: ''
      # コマンドを適用しないチャンネルでコマンドが発言されたときのメッセージ
      LockedMessage: ''
      # ログを取得中のチャンネルでコマンドが発言されたときのメッセージ
      # 取得中のチャンネルでは PartLock に指定されているチャンネルと同様に
      # コマンドを適用しません。
      LoggingMessage: ''
      # 退出コマンドを無条件で使えなくするチャンネル
      PartLock:
        - '#irc_test'

test:

production:
