# IRC ボットの設定
development:
  IRCBot:
    Host: irc.example.net
    Port: 6667
    Password: pa$$word
    Encoding: UTF-8
    Nick: archiver
    User: archiver
    RealName: LogArchiver
    Channels:
      - ''
  Plugins:
    LoginNickserv:
      NickServ:
        Nick: 'NickServ'
        User: 'NickServ'
        Host: 'services.cre.jp'
      LoginServer: 'services.cre.jp'
      XMLRPC: 'http://irc.example.com:6667/xmlrpc'
      Account:
        Nick: 'YOUR NICK'
        Pass: 'PA$$WORD'

test:

production:
