# IRC ボットの設定
development:
  IRCBot:
    Host: irc.example.net
    Port: 6667
    Password: pa$$word
    Encoding: UTF-8
    Nick: archiver
    User: archiver
    RealName: LogArchiver
    Channels:
      - ''
    SSL: off
    # QUIT メッセージ。空にすると "Caught <signal>" が設定される
    QuitMessage: 'bye'
  # プラグインの設定
  Plugins:
    ChannelSync:
      # ログ記録が無効なチャンネルから自動的に退出するか
      PartEnable: off
    UserInterface:
      # ログ公開URLのホスト名
      # 末尾の / は要りません
      URL: 'https://test.log.cre.ne.jp'
    Part:
      # 退出時のメッセージ
      # （IRCプロトコルにおける）PART コマンドの引数として使われます。
      PartMessage: ''
      # コマンドを適用しないチャンネルでコマンドが発言されたときのメッセージ
      LockedMessage: ''
      # ログを取得中のチャンネルでコマンドが発言されたときのメッセージ
      # 取得中のチャンネルでは PartLock に指定されているチャンネルと同様に
      # コマンドを適用しません。
      LoggingMessage: ''
      # 退出コマンドを無条件で使えなくするチャンネル
      PartLock:
        - '#irc_test'

test:

production:
