/* vim: :set expandtab ts=2 sts=2 sw=2: */
body {
  padding-bottom: 60px;
}

.main-panel {
  @extend .panel;
  @extend .panel-default;

  .panel-body {
    padding: $line-height-computed $padding-large-horizontal $padding-large-vertical;
  }
}

.page-header {
  margin-top: $line-height-computed;
  padding-bottom: 0.1em;
}

.text-on-homepage {
  margin-bottom: 1em;
}

.panel {
  .nav-pills > li > a {
    border-radius: 0;
  }

  .nav-pills > li:last-child > a {
    border-radius: 0 0 $border-radius-small $border-radius-small;
  }
}

h1.title {
  text-align: center;
  font-weight: normal;
}

.nav-tabs {
  margin-bottom: 1em;
}

h2 {
  padding-bottom: 0.25em;
  border-bottom: 1px solid $page-header-border-color;
}

h2.panel-title {
  padding-bottom: 0;
  border-bottom: 0;
}

h3 {
  margin-top: 12.5px;
}

ul, ol {
  padding-left: 2em;
}

.num-col {
  text-align: right;
}

.welcome-forms {
  background-color: #fff;
}

.panel .channel-list {
  margin-bottom: 0;
}

.channel-list-date {
  text-align: right;
}

.search-conditions {
  h2 {
    margin: 0;
    border: 0;
    font-size: $font-size-h4;
  }

  ul {
    margin-bottom: 0;
  }
}

table.day-summary {
  background-color: transparent;

  th {
    padding-right: 1em;
    text-align: right;
    white-space: nowrap;
  }
}

table.user-info, table.channel-info {
  td {
    text-align: right;
  }
}

.message-list {
  table-layout: fixed;
  width: 100%;
}

.message-time {
  width: 5em;
}

table {
  .odd {
    background-color: $table-bg-accent;
  }
}

td.message-time {
  white-space: nowrap;
}

.message-channel {
  width: 6em;
}

.message-channel, .message-content {
  word-break: break-word;
  overflow-wrap: break-word;
}

dl.message {
  margin: 0;
}

b.nickname.message-privmsg {
    position: relative;
    padding: 0em 0.25em;
    border-radius: 4px;
    background-color: $gray;
    color: white;
}

.raw-log {
  text-overflow: scroll;
  font-family: $font-family-monospace;

  .hour-separator {
    font-weight: bold;
  }

  .message-time {
    a:link, a:visited {
      color: $gray;
    }
  }
}

.channel-list {
  .channel-logging-enabled {
    text-align: center;
  }
}

td.channel-logging-enabled {
  color: $brand-success;
}

aside {
  font-size: $font-size-small;

  h1 {
    font-size: $font-size-h5;
  }
}

.panel .simple-calendar .table,
.panel .other-channel-list {
  margin-bottom: 0;
}

.simple-calendar {
  .calendar-heading, th, .day {
    text-align: center;
  }
}

textarea.text-on-homepage {
  min-height: 5em;
  resize: vertical;
  font-family: $font-family-monospace;
}

.help-block {
  font-size: $font-size-small;
}

footer {
  margin-top: 2em;
  padding: 2em 0 4em;
  background-color: $well-bg;
  border-top: 1px solid $well-border;

  @media (max-width: $screen-xs-max) {
    text-align: center;
  }
}

.list-unstyled.links {
  li {
    margin-bottom: ($line-height-computed / 2);
  }
}

.channels-sortable-item {
  cursor: row-resize;
}

.copyright {
  @media (min-width: $screen-sm-min) {
    text-align: right;
  }
}

fieldset.welcome legend {
  margin-bottom: 0;
  border-bottom: 0;
  font-size: $font-size-small;
  font-weight: bold;
}
