/* vim: :set expandtab ts=2 sts=2 sw=2: */
body {
  margin-top: 70px;
}

.page-header {
  margin-top: $line-height-computed;
  padding-bottom: 0.2em;
}

h1.title {
  text-align: center;
  font-weight: normal;
}

.tab-pane > .panel {
  margin-top: 1em;
}

h2 {
  padding-bottom: 0.25em;
  border-bottom: 1px solid $page-header-border-color;
}

h2.panel-title {
  padding-bottom: 0;
  border-bottom: 0;

  .fa {
    color: $gray;
  }
}

h3 {
  margin-top: 12.5px;
}

ul, ol {
  padding-left: 2em;
}

.num-col {
  text-align: right;
}

.panel .channel-list {
  margin-bottom: 0;
}

.channel-list-date {
  text-align: right;
}

.search-conditions {
  h2 {
    margin: 0;
    border: 0;
    font-size: $font-size-h4;
  }

  ul {
    margin-bottom: 0;
  }
}

.message-list {
  table-layout: fixed;
  width: 100%;
}

.message-time {
  width: 5em;
}

td.message-time {
  white-space: nowrap;

  // position: fixed のヘッダを使う際の位置調整
  a {
    display: block;
    margin-top: -50px;
    padding-top: 50px;
  }
}

.message-channel {
  width: 6em;
}

.message-channel, .message-content {
  word-break: break-word;
  overflow-wrap: break-word;
}

dl.message {
  margin: 0;
}

b.nickname.message-privmsg {
    position: relative;
    padding: 0em 0.25em;
    border-radius: 4px;
    background-color: $gray-light;
    color: white;
}

aside {
  font-size: $font-size-small;

  h1 {
    font-size: $font-size-h5;
  }
}

.panel .simple-calendar .table,
.panel .other-channel-list {
  margin-bottom: 0;
}

.simple-calendar {
  .calendar-heading, th, .day {
    text-align: center;
  }
}

footer {
  margin-top: 2em;
  padding: 2em 0 4em;
  background-color: $well-bg;
  border-top: 1px solid $well-border;

  @media (max-width: $screen-xs-max) {
    text-align: center;
  }
}

.list-unstyled.links {
  li {
    margin-bottom: ($line-height-computed / 2);
  }
}

.copyright {
  @media (min-width: $screen-sm-min) {
    text-align: right;
  }
}

fieldset.welcome legend {
  margin-bottom: 0;
  border-bottom: 0;
  font-size: $font-size-small;
  font-weight: bold;
}
