<nav class="col-xs-12 col-sm-3 hidden-xs admin">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1 class="panel-title">管理</h1>
    </div>

    <%= render_navigation(context: :admin) %>
  </div>
</nav>
