<% title('ログイン') %>
<%= render('shared/navbar') %>
<div class="container main-container">
  <%= render('shared/flash') %>
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
      <div class="page-header">
        <h1>ログイン</h1>
      </div>

      <%= render('form') %>
    </div>
  </div>
</div>
